.Rproj.user
.Rhistory
.RData
.Ruserdata
/data_original
/data/processedmodelinput/
/data/processedmodelinput.zip
/results/simulations_20210106.rds
/results/additionalresults/simulations_continuoustime_20210106.rds
/results/additionalresults/FigPoster1.jpg
/results/additionalresults/FigPoster2.jpg
/results/additionalresults/FigPoster3.jpg
/results/additionalresults/FigPoster4.jpg
/results/temp/
/R/code4syntheticdata/
/R/code4figures/Figure_P2.R
/R/code4figures/Figure_P1.R
/R/code4figures/Figure_P3P4.R

